<?xml version="1.0" encoding="utf-8"?><!--   ~ Copyright (C) 2017 Baidu, Inc. All Rights Reserved. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidu.che.codrivercustom"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="voiceservice.permission.USE_TIMA_VOICE_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INSTALL_DRM" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <!--
         <uses-permission android:name="android.permission.CALL_PRIVILEGED"
        /> <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"
        />
    -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--
         <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"
        />
    -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!--
         <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"
        />
    -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.SUBSCRIBED_FEEDS_READ" />
    <uses-permission android:name="android.permission.SUBSCRIBED_FEEDS_WRITE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!--
         <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS"
        /> <uses-permission android:name="android.permission.DEVICE_POWER" /> <uses-permission
        android:name="android.permission.MASTER_CLEAR" />
    -->


    <!-- VAD partition permission, gid=voice_rec, 3006 -->
    <uses-permission android:name="android.permission.VOICE_RECOGNITION" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:name=".CoDriverCustomApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:clearTaskOnLaunch="true"
            android:enabled="true"
            android:launchMode="singleTask"
            android:resumeWhilePausing="true"
            android:screenOrientation="landscape"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.baidu.che.codriversdk.PlatformService"></service>

        <receiver
            android:name=".receiver.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.baidu.che.codrivercustom.START" />
                <action android:name="com.baidu.carlifevehicle.broadcast.CONNECTED" />
                <action android:name="com.baidu.carlifevehicle.broadcast.DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.ConfigManagerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.SystemManagerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.TTSManagerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.MediaManagerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.BlueToothCallManagerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.NaviActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.MusicActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.AsrManagerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.PrivateRadioActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ui.ScheduleManagerActivity"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>